<!doctype html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>This is great</h1>
                <p>Welcome</p>

                <h2>Variables</h2>
                <p><%= tagline %></p>

                <h2>Loop</h2>
                <table border="1">
                    <tr>
                        <th>first name</th>
                    </tr>
                    <% trips.forEach(function(trip) { %>
                    <tr>
                        <td><%= trip.firstName %></td>
                    </tr>
                    <% }); %>
                </table>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>